[Desktop Entry]
Version=0.1.3
Encoding=UTF-8
Exec=/opt/net.iksaif.serieswatcher/bin/serieswatcher
Type=Application
Icon=net.iksaif.serieswatcher
Categories=Utility;
Terminal=False
StartupNotify=true
Name=Series Watcher
Comment=Series Watcher - Track you Favorite TV Shows