#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.1.2
Encoding=UTF-8
Name=Series Watcher
Exec=/opt/serieswatcher/bin/serieswatcher-wrapper
Type=Application
Icon=serieswatcher

