[Desktop Entry]
Version=0.1.1
Encoding=UTF-8
Name=Series Watcher
Exec=/opt/serieswatcher/bin/serieswatcher-wrapper
Type=Application
Icon=serieswatcher

